[submodule "application/admin"]
	path = application/admin
	url = http://git.24cod.com/yangliuwei/admin.git
[submodule "application/common"]
	path = application/common
	url = http://git.24cod.com/yangliuwei/common.git
[submodule "webhook"]
	path = webhook
	url = http://git.24cod.com/yangliuwei/webhook.git
[submodule "gepardcore/package"]
	path = gepardcore/package
	url = http://git.24cod.com/yangliuwei/package.git
[submodule "gepardcore/source"]
	path = gepardcore/source
	url = http://git.24cod.com/yangliuwei/source.git
[submodule "gepardcore/thinkphp"]
	path = gepardcore/thinkphp
	url = http://git.24cod.com/yangliuwei/thinkphp.git
[submodule "gepardcore/vendor"]
	path = gepardcore/vendor
	url = http://git.24cod.com/yangliuwei/vendor.git
[submodule "application/api"]
	path = application/api
	url = http://git.24cod.com/yangliuwei/api.git
[submodule "application/extra"]
	path = application/extra
	url = http://git.24cod.com/yangliuwei/extra.git
[submodule "application/index"]
	path = application/index
	url = http://git.24cod.com/yangliuwei/index.git
[submodule "application/install"]
	path = application/install
	url = http://git.24cod.com/yangliuwei/install.git
[submodule "application/lang"]
	path = application/lang
	url = http://git.24cod.com/yangliuwei/lang.git
[submodule "addons/auth"]
	path = addons/auth
	url = http://git.24cod.com/yangliuwei/auth.git
[submodule "addons/file"]
	path = addons/file
	url = http://git.24cod.com/yangliuwei/file.git
[submodule "addons/seo"]
	path = addons/seo
	url = http://git.24cod.com/yangliuwei/seo.git
[submodule "addons/feedback"]
	path = addons/feedback
	url = http://git.24cod.com/yangliuwei/feedback.git
[submodule "addons/pagetool"]
	path = addons/pagetool
	url = http://git.24cod.com/yangliuwei/pagetool.git
[submodule "addons/rocket"]
	path = addons/rocket
	url = http://git.24cod.com/yangliuwei/rocket.git
[submodule "addons/sitereport"]
	path = addons/sitereport
	url = http://git.24cod.com/yangliuwei/sitereport.git
[submodule "addons/sitechart"]
	path = addons/sitechart
	url = http://git.24cod.com/yangliuwei/sitechart.git
[submodule "addons/serverinfo"]
	path = addons/serverinfo
	url = http://git.24cod.com/yangliuwei/serverinfo.git
[submodule "public/static"]
	path = public/static
	url = http://git.24cod.com/yangliuwei/static.git
